.schedule{
    width: 70vw;
    max-width: 500px;
    margin-top: 10vh;
    margin-left: 5vw;
    background-color: #2b7df8;
    box-shadow: 0px 0px 20px #2b7df8b8;
    border-radius: 10px;
    padding: 1px 10px 10px 10px;
}