@font-face {
    font-family: QuickSandLight;
    src: url(fonts/Quicksand-Light.ttf);
}
@font-face {
    font-family: QuickSandRegular;
    src: url(fonts/Quicksand-Regular.ttf);
}
.classes{
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
    background-color: #2b7df8;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #00000093;
    padding: 10px;
    font-family: QuickSandLight;
}
.classes h2{
    font-family: QuickSandRegular;
    text-shadow: 0px 0px 4px #ffffff;
}