.container{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    margin-bottom: 25px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: rotate(90deg);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    
    background-color: rgb(20, 22, 44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 5px 5px 20px #00000093, inset 0 0 10px #000000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #2b7df8c7;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* empty if you want both states to look the same
input:checked+.slider {

} */


input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    background: #2b7df898;
    box-shadow: inset 0 0 10px #2b7df8;
}

.text{
    font-size: 1.1rem;
    font-family: QuickSandRegular;
    margin-right: 2px;
    text-align: right;
}
.selected{
    text-shadow: 0 0 10px #ffffffb2;
}
.not-selected{
    opacity: 0.5;
}