@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  user-select: none;
}
*::selection{
  color: #2b7df8;
  background-color: white;
}

input,
textarea,
button,
select,
a{
    -webkit-tap-highlight-color: transparent;
}

h1{
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-family: QuicksandRegular, "Roboto Light", sans-serif;
  text-shadow: 0px 0px 10px #ffffff;
  user-select: text;
}

.title {
  font-size: 2rem;
}

.info {
  text-align: center;
  font-family: QuickSandLight, "Roboto Light", sans-serif;
  text-shadow: 0px 0px 5px #ffffff;
  margin-top: -5px;
  font-size: 0.9rem;
}

.info a {
  text-decoration: underline;
}

.info a:hover{
  color: lightblue;
  transition: color 300ms linear;
  text-shadow: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.datetime-batch-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2.5vh auto;
}