input,
textarea,
button,
select,
span,
a{
    -webkit-tap-highlight-color: transparent;
    /* makes the blue box on mobile not appear */
}

.nav-container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: QuickSandRegular, "Roboto Light", sans-serif;
}

.nav-btn {
    background: #1e69da82;
    border-radius: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.face{
    display: block;
    border-radius: 20px;
    padding: 7px 0px;
    font-size: 1rem;
    background-color: #2b7df8;
    border: 1px solid #75acff;
    box-shadow: 0px 0px 20px #2b7df8b8;
    text-shadow: 0px 0px 10px white;
    color: white;
    transform: translateY(-6px);
    transition: transform 0.1s, box-shadow 0.1s;
}

.nav-btn:active .face{
    transform: translateY(-2px);
    box-shadow: 0 0 0 #2b7df8b8;
}
.nav-btn:active .nav-icon{
    box-shadow: grey 0 2px 0;
}

.nav-icon{
    background-color: white;
    border: 1px solid white;
    box-shadow: grey 0 6px 0;
    transition: box-shadow 0.1s;
    color: #2b7df8;
    font-size: 1.5rem;
    padding: 10px;
}

.prev .nav-icon{
    border-radius: 20px 0 0 20px;
    margin-right: 10px;
}
.next .nav-icon{
    border-radius: 0 20px 20px 0;
    margin-left: 10px;
}

.prev .face{
    padding-right: 28px;
}
.next .face{
    padding-left: 28px;
}

.nav-icon-shadow{
    background-color: grey;
    width: 40px;
}